{% extends 'events/base.html' %}
{% block content %}
{% if user.is_authenticated %}
	<center>
		<div class='shadow p-4 mb-5 bg-body rounded'>
		<h1>Add Venue to Database</h1>
		<br/><br/>
		{% if submitted %}
			Your Venue was submitted succesfully!
		{% else %}


			<form action="" method=POST enctype="multipart/form-data">
				{% csrf_token %}

				{{ form.as_p }}

				<input type="submit" value="Submit" class="btn btn-outline-dark">
			</form>
		{% endif %}
		</div>
	</center>
<br/><br/>
{% else %}
<center>
<h1> Sorry you must be logged in to view this page!</h1><br/>
<a href="{% url 'login' %}"><button class="btn btn-outline-dark">Login Here</button></a>
</center>
{% endif %}

{% endblock %}