{% extends 'events/base.html' %}
{% block content %}
<h1>Show Event</h1>

{% if event.approved %}
<div class='shadow p-4 mb-5 bg-body rounded'>
<div class="card">
  <div class="card-header">
    <strong>{{event}}</strong>
  </div>
  <div class="card-body">
    <h5 class="card-title">Venue: {{ event.venue }}</h5>
    <p class="card-text">
    	<ul>

		<li><strong>Date:</strong> {{ event.event_date }}</br></li>
		<li><strong>Days till Event:</strong> {{ event.Days_till }}</br></li>
		<li><strong>Occured:</strong> {{ event.Is_Past }}</br></li>
		<li><strong>Venue Website:</strong> {{ event.venue.web }}</br></li>
		<li><strong>Manager:</strong> {{ event.manager }}</br></li>
		<li><strong>Descripton:</strong> {{ event.description }}</br></li>
		<li><strong>Approved:</strong> {{ event.approved }}</br></li>
		<li><strong>Attendees:</strong>
			{% for user in event.attendees.all %}
			{{ user }}</br>
			{% endfor %}
		</li>
		</ul>
    </p>
  </div>
  <div class="card-footer text-muted">
  	{% if user.is_authenticated %}
	<a href="{% url 'edit-event' event.id %}" class="btn btn-outline-secondary btn-sm">Edit Event</a>
	<a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
	{% endif %}
  </div>
</div>
</div>
{% endif %}
	




{% endblock %}